
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Otomasyon Panel</title>
    <link href="~/Web/dist/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Web/dist/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Yönetim</a>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"> İşlemler</div>
                        <a class="nav-link" href="~/Kategori/CascadingIslem">
                            <div class="sb-nav-link-icon"><i class="fas fa-adjust"></i></div>
                            Cascading İşlemi
                        </a>
                        <a class="nav-link" href="~/Kategori/AnaKategori">
                            <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
                            Kategoriler
                        </a>
                        <a class="nav-link" href="~/Urun/AnaUrun">
                            <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>
                            Ürünler
                        </a>
                        <a class="nav-link" href="~/Departman/AnaDepartman">
                            <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                            Departmanlar
                        </a>
                        <a class="nav-link" href="~/Cari/AnaCari">
                            <div class="sb-nav-link-icon"><i class="fas fa-thumbs-up"></i></div>
                            Cariler
                        </a>
                        <a class="nav-link" href="~/Personel/AnaPersonel">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Personeller
                        </a>
                        <div class="sb-sidenav-menu-heading"> Rapor İşlemleri</div>
                        <a class="nav-link" href="~/SatisHareket/AnaSatis">
                            <div class="sb-nav-link-icon"><i class="fas fa-cubes"></i></div>
                            Satışlar
                        </a>
                        <a class="nav-link" href="~/Fatura/AnaFatura">
                            <div class="sb-nav-link-icon"><i class="fas fa-barcode"></i></div>
                            Faturalar
                        </a>
                        <a class="nav-link" href="~/Fatura/Dinamik">
                            <div class="sb-nav-link-icon"><i class="fas fa-procedures"></i></div>
                            Dinamik Faturalar
                        </a>
                        <a class="nav-link" href="~/FaturaKalem/AnaFaturaKalem">
                            <div class="sb-nav-link-icon"><i class="fas  fa-align-right"></i></div>
                            Fatura Kalemler
                        </a>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                            Giderler
                        </a>
                        <a class="nav-link" href="~/Kargo/AnaKargo">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Kargolar
                        </a>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-compress"></i></div>
                            Hareketler
                        </a>
                        <a class="nav-link" href="~/Istatistik/AnaIstatistik">
                            <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                            İstatistikler
                        </a>
                        <a class="nav-link" href="~/Istatistik/KolayTablo">
                            <div class="sb-nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                            Hızlı Bakış
                        </a>
                        <a class="nav-link" href="~/Galeri/AnaGaleri">
                            <div class="sb-nav-link-icon"><i class="fas fa-gas-pump"></i></div>
                            Galeri
                        </a>
                        <a class="nav-link" href="~/UrunDetay/AnaUrunDetay">
                            <div class="sb-nav-link-icon"><i class="fas fa-cubes"></i></div>
                            Ürün Detay
                        </a>
                        <a class="nav-link" href="~/Urun/PdfCikti">
                            <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>
                            PDF - EXCEL
                        </a>
                        <a class="nav-link" href="~/Login/Cikis">
                            <div class="sb-nav-link-icon"><i class="fas fa-remove"></i></div>
                            Çıkış Yap
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Giriş Yapan :</div>
                    Erkan Bostan
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Geo 2019</div>
                        <div>
                            <a href="#">Tüm Hakları Saklıdır</a>
                            &middot;
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/dist/js/scripts.js"></script>
</body>
</html>
