
<div class="pop-up">
    <div id="small-dialog" class="mfp-hide book-form">
        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Personel Giriş Paneli</h3>
                <span class="fa fa-lock"></span>
                <div class="clear"></div>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <input type="text" class="name" name="Kullanici" Placeholder="Kullanıcı Adı" required="" />
                        <input type="password" class="email" name="Sifre" Placeholder="Şifre" required="" />
                        <input type="submit" value="Giriş Yap">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>